body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ! -------- NORMALIZE ----------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* !----------- HEADER --------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.header-logo .studio {
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 76px;
}

.header-content-list {
  display: flex;

  gap: 40px;
}

.header-content-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 24px 0 24px;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  margin-left: 332px;
  gap: 40px;
  padding-top: 24px;
}

.contacts-list-link {
  color: #434455;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.header-content-list,
.contacts-list-item {
  list-style: none;
}

.header-content-link:hover,
.contacts-list-link:hover,
.header-content-link:active,
.contacts-list-link:active,
.header-content-link:focus,
.contacts-list-link:focus {
  color: #404bbf;
  text-decoration: none;
}

/* ! ----------- HERO -------------- */

.section-hero {
  padding: 188px 0 188px;
  background-color: #2e2f42;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.container-hero {
  background-color: #2e2f42;
}

.section-hero-text {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  max-width: 496px;
  margin: 0 auto 32px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: auto;
  border: none;
}

/* ! ------------- SIDES ------------------- */

.section-sides {
  padding-bottom: 120px;
  padding-top: 120px;
}
.sides-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.sides-list-item {
  width: calc((100% - 24px * 3) / 3);
}

.sides-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sides-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* ! ------------- TEAM -------------- */

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 24px * 3) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.role {
  text-align: center;
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 162px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.section-team-text {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ! ------------- PORTFOLIO ------------- */

.section-portf {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portf-text {
  color: #2e2f42;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portf-list {
  display: flex;
  list-style-type: none;
  color: #ffffff;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portf-list-item {
  width: calc((100% - 24px * 2) / 3);

  background-color: #fff;
}

.portf-list-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  text-align: left;
}

.portf-list-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;

  margin-top: 8px;
}

.portf-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* ! -------------- FOOTER -------------- */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .studio-footer {
  color: #f4f4fd;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 264px;
}
